* {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


h1 {
    font-size: 65px;
    font-weight: 1000;
    padding: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(122, 57, 159);
}

.navbar {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    font-weight: 800;
    padding: 15px 35px 15px;
    display: inline-block;
}

/* CSS splash banner */

#avatar {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/splash-banner.jpg");
    background-size: cover;
    background-position: center;
}

/* CSS for  */

#about p {
    display: flex;
    justify-content: center;
}

/* CSS work item card */

.work-item {
    height: 500px;
    width: 500px;
    margin-bottom: 25px;
}

#highlight {
    size: 100%;
    background-image: url("../images/work1.jpg");
    justify-content: center;
}

#work2 {
    background-image: url("../images/work2.jpg");
}

#work3 {
    background-image: url("../images/work3.jpg");
}

#work4 {
    background-image: url("../images/work4.jpg");
}

#contact {
    flex: auto;
}