* {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


h1 {
    font-size: 65px;
    font-weight: 1000;
    padding: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(122, 57, 159);
}

.navbar {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    font-weight: 800;
    padding: 15px 35px 15px;
    display: inline-block;
}

/* CSS splash banner */

#avatar {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/splash-banner.jpg");
    background-size: cover;
    background-position: center;
}

/* CSS for  */

#about p {
    display: flex;
    justify-content: center;
}

/* CSS work card flexbox */

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 65%;   
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    border: 10px;
    width: 80%;
    background-color: bisque;
}

.card-image {
    height: 150px;
    background-position: center center;
}

.card-image:nth-child(1) {
    background-image: url("../images/work1.jpg");
    background-size: cover;
    background-position: center;
}

.card-image:nth-child(2) {
    background-image: url("../images/work2.jpg");
    background-size: cover;
    background-position: center;
}


#contact ul li {
    display: flex;
    font-weight: 500;
}

footer {
    display: flex;
    justify-content: center;
}